<ion-header>
  <ion-toolbar>
    <ion-button slot="start" class="back-button">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-button>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f2="ngForm" (ngSubmit)="onSubmit(f2)">
    <ion-list lines="none">
      <ion-item color="light">
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-input
          type="email"
          name="email"
          email
          ngModel
          #emailCtrl="ngModel"
          placeholder="Email"
          required="true"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p>* please enter a valid email address</p></ion-text
      >
    </ion-list>
    <div class="ion-text-center">
      <ion-button
        *ngIf="!isLoading"
        type="submit"
        color="primary"
        [disabled]="!f2.valid"
        >SEND LINK</ion-button
      >
      <ion-button
        *ngIf="isLoading"
        shape="round"
        color="primary"
        [disabled]="!f2.valid"
      >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
