<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-list-header class="ion-padding">
      <ion-item>
        <ion-label>
          {{ getData()?.title }}
          <p class="ion-text-wrap">
            {{ getData()?.subTitle }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list-header>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <ion-item-group class="ion-padding-horizontal" *ngIf="flag == 1">
        <ion-item class="ion-margin">
          <ion-icon name="mail" slot="start" color="medium"></ion-icon>
          <ion-input
            type="email"
            name="email"
            id="email"
            email
            ngModel
            #emailReset="ngModel"
            value="email"
            placeholder="Email"
            required="true"
          >
          </ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group class="ion-padding-horizontal" *ngIf="flag == 3">
        <ion-item class="ion-margin">
          <ion-icon name="key" slot="start" color="medium"></ion-icon>
          <ion-icon
            color="medium"
            slot="end"
            (click)="changeType()"
            [name]="type ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
          <ion-input
            [type]="type ? 'password' : 'text'"
            name="new_password"
            #new_password="ngModel"
            ngModel
            placeholder="Password"
            minlength="8"
          >
          </ion-input>
        </ion-item>
      </ion-item-group>
      <div align="center" class="ion-padding-top" *ngIf="flag == 2">
        <app-otp-input
          (otpLength)="otpLength($event)"
          (onOTPChangeEvent)="onOtpChange($event)"
        ></app-otp-input>
      </div>
      <ion-button
        [disabled]="!form.valid"
        expand="block"
        size="large"
        color="primary"
        type="submit"
        shape="round"
      >
        <ion-text> {{ getData()?.button }}</ion-text>
      </ion-button>
    </form>
  </ion-list>
</ion-content>
